<h1 mat-dialog-title>Add New Bug</h1>
<div mat-dialog-content>

    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select placeholder="Priority">
            <mat-option value="">Now!</mat-option>
            <mat-option value="">High</mat-option>
            <mat-option value="">Medium</mat-option>
            <mat-option value="">Low</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a launch date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <label for=""><h2>Bug Points</h2></label>
      <mat-radio-group class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let point of bugPoints" [value]="point">
            {{point}}
        </mat-radio-button>
      </mat-radio-group>


</div>
