<router-outlet></router-outlet>


<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Bug Catalog</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog('0ms', '0ms')">Add Bug</button>

</mat-toolbar>

<div class="contain">
  <div style="margin-top: 10px;">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
          <td mat-cell *matCellDef="let row"> {{row.priority}}% </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Launch Date </th>
          <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="bugPoints">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
          <td mat-cell *matCellDef="let row"> {{row.bugPoints}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

        <ng-container matColumnDef="bugID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bug ID </th>
          <td mat-cell *matCellDef="let row"> {{row.bugID}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button color="primary" (click)="editBug(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
   
    </div>

  </div>
</div>